
=regular-button($backgroundColor, $foregroundColor)
    background-color: $backgroundColor
    border: 1px solid darken($backgroundColor, 20%)
    color: $foregroundColor
    font-size: $fontSize
    border-radius: $borderRadius
    padding: 10px
